<!DOCTYPE html>
<html>
  <head>
    <title>{{paget.title}}</title>
    <link rel="stylesheet" href="/css/main.css" media="screen" title="no title">
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/">About</a></li>
        <li><a href="/">Portfolio</a></li>
        <li><a href="/">blog</a></li>
      </ul>
    </nav>

    <div class="container">
        {{content}}
    </div><!-- /.container -->
  <footer>
    <ul>
      <li><a href="https://github.com/mesmoiron">mesmoiron Github</a></li>
      <li><a href="http://www.helengrives.nl">www.helengrives.nl</a></li>
      <li><a href="http://www.twitter.com/mesmoiron">mesmoiron Twitter</a></li>
    </ul>
  </footer>

  </body>
<html>
